# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Bundler
Gemfile.lock
vendor/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Node (if needed later)
node_modules/
